* {
    box-sizing: border-box;
  }
  
/* Header/logo Title */
.header {
    padding: 30px;
    text-align: left;
    background-image: url(../images/activities-background.jpg);
    background-size:100%;
    font-size: 40px;
    color: white;
    padding-top: 50px;
  }
  *{
    font-family: 'Playfair Display', serif;
}
/*navigation*/
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#17252a;
}
.navbar li{
    float: left;
    border-right:1px solid #bbb;
}


.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar li a:hover:not(.active) {
    background-color:#def2f1;
    color: #17252a;
  }
  
.active {
    background-color:#3aafa9
    
  }

/*container1*/
.container1{
  background-color: #def2f1;
  margin-top: 5px;
  margin-bottom: 5px;
}
.activity {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.img1, .img2, .details{
  width: 30%;
}
.activity img{
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.details{
  padding-left:20px;
  padding-top: 100px;
}
.details h1{
  color:#2DCB74 ;
}

.booking-button button{
  width: 100px;
  background-color: transparent;
  border: black soild 2px ;
  float: right;

}
.booking-button button:hover{
  color: lightsalmon;
  border: lightsalmon soild 2px;
}
@media (max-width: 768px){
  .activity{
    max-width: 720px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
  }
  .img1, .img2, .details{
    width: 60%;
    margin-top: 10px;
  
  }
  .details{
    padding-top: 0px;
  }
}

 